<div class="text-white bg-dark" id="contact">
    <div class="container">
        <div class="row">
            <div class="p-5 col-md-6">
                <h3><b>yaus</b></h3>
                <p class="">Amrita Vishwa Vidyapeetham</p>
                <p class="">
                    <a href="mailto:krishtna999@gmail.com">krishtna999@gmail.com</a></p>
                <p class="mb-3">India</p>
                <a href="#" target="_blank"><i class="fa d-inline fa-lg mr-3 text-white fa-linkedin"></i></a>
            </div>
            <div class="p-5 col-md-6">
                <h3>Get in touch</h3>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-sm" placeholder="Email" required="required" name="email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" id="inlineFormInput" placeholder="Subject" required="required" name="subject"> </div>
                    <div class="form-group"><textarea class="form-control p-1 form-control-sm" id="exampleTextarea" rows="3" placeholder="Your message" name="message"></textarea></div>
                    <button type="submit" class="btn btn-outline-light btn-sm">SUBMIT</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <p class="text-center text-muted">© Copyright 2018 krishtna.xyz - All rights reserved. </p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- Script: Smooth scrolling between anchors in the same page -->
<script src="/js/smooth-scroll.js"></script>
<script src="/js/duplicate.js"></script>
