<div class="row">
  <div class="col-md-12">
    <h1 class="display-1 mb-0 mt-5 big-title">YAUS</h1>
  </div>
</div>
<div class="row">
  <div class="mx-auto col-lg-6 col-md-8">
    <h3 class="mb-4">Yet another URL Shortner</h3>
  </div>
</div>