<div class="container mt-auto">
    <div class="row">
        <div class="mx-auto col-lg-6 col-md-8 col-10">
            <!-- <a href="#why"><i class="d-block fa fa-angle-down fa-2x"></i></a> -->
            <a class="btn navbar-btn d-block fa fa-angle-down fa-2x" href="#why"></a>
        </div>
    </div>
</div>
<div class="py-5 bg-light" id="why">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-10 mx-auto px-4">
                <h2 class="text-muted mb-4">Why use this ?<br></h2>
                <div class="row text-left">
                    <div class="p-3 col-lg-6">
                        <div class="row mb-3">
                            <div class="text-center col-2.5"><i class="d-block mx-auto fa text-muted fa-4x fa-link"></i></div>
                            <div class="align-self-center d-flex align-items-center px-0 px-md-2 col-9">
                                <h5 class="mb-0"><b>Shortens URLs</b></h5>
                            </div>
                        </div>
                        <p class="text-muted">Shorten multiple URLs with one common alias</p>
                    </div>
                    <div class="p-3 col-lg-6">
                        <div class="row mb-3">
                            <div class="text-center col-2"><i class="d-block mx-auto fa text-muted   fa-4x fa-flash"></i></div>
                            <div class="align-self-center d-flex align-items-center px-0 px-md-2 col-9">
                                <h5 class="mb-0"><b>&nbsp;</b><b>Direct add from Address Bar&nbsp;</b></h5>
                            </div>
                        </div>
                        <p class="text-muted">Simply type int adress bar in the format : <em>"yaus/shortUrl;longUrl1;longUrl2;..."<br/></em>to link all longUrls to yaus/shortUrl</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>